body{
  background-color: #02010a;
  font-family: "Dancing Script";
}
#Contenido{
  width:900px;
  margin: 0 auto;
}
/*EFECTOS DE LA CABECERA--------------------*/
#Cabecera{
  background-color: #5b7989;
  color:white;
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
  height:110px;
  animation: MiAnimacion 1s;
}
#Cabecera h1{
text-shadow: 2px 2px #02010a;
line-height: 60px;
padding-left: 20px;
float:left;
font-size: 40px;
}

#Navegador ul{
  list-style-type: none;
  float: right;
  margin-top: 20px;
  font-size: 26px;

}
#Navegador ul li{
  display: inline-block;
  padding: 20px;
}
#Navegador ul li a{
  text-decoration: none;
}
#Navegador ul li a:link, #Navegador ul li a:visited{
  color: white;
}
/*EFECTO DE TODAS LAS IMAGENES----------------*/
img{
  filter:drop-shadow(2px 2px #02010a);
}
/*--------------------------------------------*/

/*EFECTOS DEL CONTENEDOR 1--------------------*/
#Contenedor1{
  background-color: #82c3a6;
  width:100%;
}

#Contenedor1 #Imagen1{
  width: 100%;
  margin: 0 auto;
}
#Imagen1 img{
  display: block;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}
/*--------------------------------------------*/

/*EFECTOS DEL CONTENEDOR 2--------------------*/
#Contenedor2{
  background-color: #d5c75f;
  border:solid 1px;
  display: flex;
  flex-wrap: wrap;
  width:100%;
}
#Contenedor2 #Imagen2,#Contenedor2 #Imagen3{
  width:40%;
}

#Imagen2 img, #Imagen3 img{
  width:100%;
}

/*ANIMACION SEGUNDA IMAGEN*/
#Imagen2{
  transition: transform 0.5s;
}
#Imagen2:hover{
transform:rotate(10deg);
}
/*ANIMACION TERCERA IMAGEN*/
#Imagen3{
  transition:transform 0.5s;
}
#Imagen3:hover{
  transform:translate(3px,-2px);
}
}
/*--------------------------------------------*/

/*EFECTOS DEL FOOTER--------------------*/
footer{
  width:100%;

  background-color: #C6d5c5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display:flex;
  flex-wrap: wrap;
}
footer section{
  width: 25%;

}
footer section h1{
  text-align: center;
}
footer section ul{
  list-style-type: none;
  line-height: 35px;
  font-size: 20px;
}

#Terminos ul{
  padding-left: 0px;
}
#Terminos ul li{
  text-align: center;
}

#Redes .Logo{
  width:25px;
  height:25px;
  padding-right: 10px;
}
/*--------------------------------------------*/
/*ANIMACION---------------------------------------------*/
@-webkit-keyframes MiAnimacion {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }

}
/*------------------------------------------------------*/
/*---------------VERSION MOVIL------------------------------*/
@media (max-width:900px) {
#Contenido{
  width: 100%;
}
/*CABECERA MOVIL------------------------------*/
#Cabecera{
  height: 200px;
}
#Cabecera h1{
  float: none;
  text-align: center;
  margin: 0 auto;
  font-size: 1.8em;
  line-height: 80px;
}
#Cabecera #Navegador ul{
  float: none;
  text-align: center;
  margin-top:10px;
  padding: 0;
  font-size: 1.5em;


}
/*--------------------------------------------*/
/*IMAGENES SECUNDARIAS MOVIL------------------*/
#Contenedor2 #Imagen2{
  width: 100%;
}
#Contenedor2 #Imagen3{
  width: 100%;
}
/*--------------------------------------------*/
/*FOOTER MOVIL--------------------------------*/
footer section{
  width: 100%;
}
footer section ul{
  padding-left: 0px;
}
#Derechos ul li,#Contacto ul li,#Terminos ul li,#Redes ul li{

  text-align: center;
}
/*--------------------------------------------*/

}
