body{
  background-color: #02010a;
  font-family: "Dancing Script";
}
#Contenido{
  width:900px;
  margin: 0 auto;
}
/*EFECTOS DE LA CABECERA--------------------*/
#Cabecera{
  background-color: #5b7989;
  color:white;
  border-top-left-radius: 10px;
  border-top-right-radius:10px;
  height:110px;
  animation: MiAnimacion 1s;
}
#Cabecera h1{
text-shadow: 2px 2px #02010a;
line-height: 60px;
padding-left: 20px;
float:left;
font-size: 40px;
}

#Navegador ul{
  list-style-type: none;
  float: right;
  margin-top: 20px;
  font-size: 26px;

}
#Navegador ul li{
  display: inline-block;
  padding: 20px;
}
#Navegador ul li a{
  text-decoration: none;
}
#Navegador ul li a:link, #Navegador ul li a:visited{
  color: white;
}
/*EFECTOS DEL CONTENEDOR----------------*/
#Contenedor{
  background-color: #82c3a6;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.Imagen{
  width: 31%;
  margin:16px 10px;
}
.Imagen img{
  width: 100%;
}
#Imagen1{
  filter: blur(10px);
}

.Imagen:nth-child(even){
  filter:grayscale(100%);
}

#Imagen3{
  filter:sepia();
}
/*--------------------------------------*/
/*EFECTOS DEL FOOTER--------------------*/
footer{
  width:100%;

  background-color: #C6d5c5;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  display:flex;
  flex-wrap: wrap;
}
footer section{
  width: 25%;

}
footer section h1{
  text-align: center;
}
footer section ul{
  list-style-type: none;
  line-height: 35px;
  font-size: 20px;
}

#Terminos ul{
  padding-left: 0px;
}
#Terminos ul li{
  text-align: center;
}

#Redes .Logo{
  width:25px;
  height:25px;
  padding-right: 10px;
}
/*--------------------------------------------*/
/*ANIMACION---------------------------------------------*/
@-webkit-keyframes MiAnimacion {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    margin-top: 0%;
  }

}
/*------------------------------------------------------*/
/*---------------VERSION MOVIL------------------------------*/
@media (max-width:900px) {
#Contenido{
  width: 100%;
}
/*CABECERA MOVIL------------------------------*/
#Cabecera{
  height: 200px;
}
#Cabecera h1{
  float: none;
  text-align: center;
  margin: 0 auto;
  font-size: 1.8em;
  line-height: 80px;
}
#Cabecera #Navegador ul{
  float: none;
  text-align: center;
  margin-top:10px;
  padding: 0;
  font-size: 1.5em;
}
/*--------------------------------------------*/
/*IMAGENES MOVIL------------------------------*/
.Imagen{
  width: 100%;
  margin:16px 10px;
}
/*--------------------------------------------*/
/*--------------------------------------------*/
/*FOOTER MOVIL--------------------------------*/
footer section{
  width: 100%;
}
footer section ul{
  padding-left: 0px;
}
#Derechos ul li,#Contacto ul li,#Terminos ul li,#Redes ul li{

  text-align: center;
}
/*--------------------------------------------*/

}
